/* Color variables for consistent branding */

:root {
    --dark1: #96b1c1;
    --dark2: #466390;
    --light1: #fefdb0;
    --light2: #fff49f;
    --light3: #efe092;
    --white: whitesmoke;
}

/* Heading styling */

#header {
    background-color: var(--dark2);
    color: var(--white);
}

/* Search section styling */

#form-heading {
    padding-top: 10px;
    padding-bottom: 10px;
}

#search-form {
    width: 100%;
}

#search-button {
    background-color: var(--light3);
    color: var(light2);
}

#search-button-success:hover, #search-button-success:active, #search-button-success:focus {
    background-color: var(--light3) !important;
    color: var(light2) !important;
}

#history-button {
    background-color: var(--light3);
    color: var(--dark2);
    border-radius: 5px;
    width: fit-content;
}

/* Display section styling */

#current-day-card {
    background-color: var(--dark1);
    border-radius: 10px;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

#city-name {
    font-size: 30px;
}

#current-date {
    font-size: 30px;
}

#current-card-icon {
    width: 5rem;
}

#forecast-card {
    background-color: var(--light2);
    border-color: var(--light1);
    margin: 3px;
    font-size: 20px;
}
