
:root {
    --dark1: #96b1c1;
    --dark2: #466390;
    --light1: #fefdb0;
    --light2: #fff49f;
    --light3: #efe092;
    --white: whitesmoke;
}

#header {
    background-color: var(--dark2);
    color: var(--white);
}

ol {
    padding-left: none !important;
    list-style-type: none;

}

li {
    padding-left: none !important;
    padding: 5px;
}

#form-heading {
    padding-top: 10px;
    padding-bottom: 10px;
}

#search-button {
    background-color: var(--light3);
    color: var(light2);
}

#current-day-card {
    background-color: var(--dark1);
    border-radius: 10px;
    color: var(--white);
}

#forecast-card {
    background-color: var(--light2);
    border-color: var(--light1);
    margin: 3px;
}

